.main-space h2 {
  margin-bottom: 5px;
  margin-top: 0px;
  text-transform: none;
}
.main-space .post-date {
  font-size: 14px;
}
.main-space > hr {
  border-color: black;
}
.main-space .content {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.short-user-info {
  width: 256px;
  margin: 0px auto;
  padding: 5px;
  background: white;
  box-shadow: 0 0 3px #ccc;
}
.short-user-info p {
  margin: 0px;
  position: relative;
  z-index: 1;
  display: block;
  overflow: hidden;
}
.short-user-info p:hover img {
  transform: translateX(250px);
}
.short-user-info p img {
  display: block;
  width: 250px;
  max-height: 250px;
  transition: transform 0.3s ease-in-out;
}
.short-user-info p::before {
  content: attr(info);
  height: 30%;
  padding: 30px;
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.short-user-info p::after {
  content: attr(content);
  top: 30%;
  height: 70%;
  padding: 0 30px;
  color: #d7bb97;
}
.short-user-info p::after,
.short-user-info p::before {
  position: absolute;
  width: 100%;
  background: #333;
  text-align: center;
  box-sizing: border-box;
  z-index: -1;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-250px);
}
.short-user-info p:hover::before,
.short-user-info p:hover::after {
  transform: translateX(0px);
}
.nickname {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  vertical-align: middle;
  line-height: 1.6;
  font-size: 24px;
  text-align: center;
  text-shadow: 0px 0px 2px #e7e7e7;
}
.nickname span {
  cursor: default;
}
.social-networks-link {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
  text-align: left;
  line-height: 1.6;
  padding-left: 10px;
  font-size: 24px;
}
.social-networks-link .icon-fontawesome-webfont:before {
  font-size: 40px;
}
.social-networks-link .icon-fontawesome-webfont {
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
}
.full-user-info .social-networks-link span {
  text-transform: none;
}
.full-user-info .social-networks-link a {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.full-user-info span {
  text-transform: none;
}
.full-user-info a {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.add-post-block {
  text-align: center;
}
.add-post-block label {
  width: 100%;
  text-align: left;
}
.add-post-buttons {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}
