body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  height: 100%;
  margin: 0px;
  min-width: 320px;
  overflow-y: scroll;
  padding: 0px;
  background: #252525 url('../img/background.png') repeat;
  color: #333333;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', sans-serif;
}
header {
  background-color: rgba(22, 22, 22, 0.6);
  -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 0px 0px 3px #e7e7e7;
}
header .navbar {
  margin-bottom: 0px;
}
header .navbar div a {
  text-transform: uppercase;
  letter-spacing: 1px;
}
header .navbar div a::before {
  content: attr(data-hover);
  color: white;
  transition: transform 0.3s, opacity 0.3s;
}
header .navbar div a:hover::before {
  transform: scale(0.95);
  opacity: 0.3;
  color: #1e6fc5;
}
header .navbar div a:focus {
  background-color: transparent;
}
header .navbar div a:hover {
  background-color: transparent;
}
header .navbar .navbar-nav {
  margin: 0;
}
header .navbar .navbar-nav .navbar-brand {
  color: white;
}
header .navbar .navbar-collapse ul:first-child {
  margin-left: 20px;
}
.logo-block {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 2px;
}
.logo-block > .logo {
  max-width: 100%;
  padding: 2px;
}
.logo-item {
  height: 50px;
  padding-top: 10px;
}
main {
  min-height: 600px;
}
.main-space {
  margin: 0px auto 20px;
  max-width: 660px;
  width: 660px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  padding: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}
.uppercase {
  text-transform: uppercase;
}
.lower {
  margin-top: 50px;
}
.higher {
  margin-top: -50px;
}
button[type="submit"] .icon {
  width: 14px;
  height: 14px;
  transition: all 0.4s ease-in-out;
}
button[type="submit"] .hover .icon {
  transform: scale(1.2);
}
button[type="submit"],
.add-post-button,
.reset-button {
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 5px;
  padding: 6px 15px;
  width: auto;
  border: none;
  border-radius: 5px;
  background: linear-gradient(#182245 0%, #151a30 75%, #151222 100%);
  color: white;
  cursor: pointer;
}
button[type="submit"]:hover,
.add-post-button:hover,
.reset-button:hover {
  background: linear-gradient(#191845 0%, #171530 75%, #191222 100%);
  color: white;
}
.add-post-button {
  display: block;
  width: 100%;
  margin: 15px auto;
}
.motto {
  width: 100%;
  display: block;
  color: #333333;
  text-shadow: 0px 0px 1px #c86461;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f5f5f5;
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 20px;
  text-align: center;
  border-right: 2px solid #161616;
  border-bottom: 2px solid #161616;
  border-radius: 1px;
}
.motto-container {
  display: block;
  transform: translateX(-145px) translateY(-138px);
  width: 320px;
  padding-top: 10px;
  cursor: pointer;
}
.motto-container:hover {
  transform: translateX(0px) translateY(-10px);
  text-decoration: none;
  color: #333333;
}
.motto-container:hover::after {
  visibility: hidden;
}
.motto-container::after {
  content: '';
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-right-color: black;
  border-bottom-color: black;
  position: absolute;
  bottom: -55px;
  right: 0;
}
.underlined {
  color: black;
  padding: 3px 0 4px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  outline: none;
}
.underlined:hover {
  text-decoration: none;
  color: black;
}
.underlined:hover::after {
  opacity: 1;
  transform: translateY(0px);
}
.underlined:after {
  content: '';
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #1e6fc5;
  transform: translateY(8px);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}
.underlined-default {
  text-transform: uppercase;
}
footer {
  max-height: 130px;
}
.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: rgba(22, 22, 22, 0.6);
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.post hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.post h2 {
  padding: 0px 25px;
}
.post-edit-img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABNklEQVQ4T63UPSuFYRgA4OsMBkqUvyDJJJuUjyKDjTCwko/kB1hsdsokiyQGksXGYDMxyCTKIBtFodBd7zm9nc43T73Te3c999P9kfHPJ1OD14JldOMdh9jBd1jVgg24xRf20YxpnGISP9WCEX+AXgzgBu24xBx2KwVbcYIpXGMvD91CE8YrAQM7wxVG8YklrOM5yXQGbRgpB6axMXxgHhtYwCD6kks2sVYKLIXNYhuNuMMLuvBaDKwEq8dx8tR+3Bdrm5qxQuCfsHzwz1ga/BcsDcboDOMIE4i+itbIVrNgAQrtgWyVz/GEqNYjOmvB0hkGGF/MaUxFtEAP6gq1RqkNlc4wwFV0JOhF0rgxUrk+K7fu0mDEBhon0HE8VIOln7yCobzb37CYnYBymWX/l1sOlTq5uF8sG2gVKD6COQAAAABJRU5ErkJggg==) no-repeat;
  width: 20px;
  height: 20px;
}
.post-edit-button {
  float: right;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
}
.post-remove-img {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAABc0lEQVQ4T62UWStFYRSGn2MI/0f+gXshZEgoRVzJ8A8oLsxRMg8ZUi4MN/wuJxx66/u0znfW3mcX+/Jbaz9rfFeJf/5KhtcCrANvwG3BOMNABzAHfOifCGwDHoBO4BuYAvbrQGeAzcB4AbqAcgTuANMG8Ako+nUGdAw4ABqMfQ2Yj8Ah4DRxEHTQKX8UOEx8v4A+4N72UA8XQJOJKkdlcxbeVMW2aZWey0AP8Gh7GBledDVboNYwtMa81tgMo18vcJVk6rVSmXUDT9boAWUX9BJozhjKe4A9p/YsoPy0FlsZwHHgyLPlAZeA5QzgRJh0jTkLmAcTRNNXllq1qs8DLgIrBaTnQlPgJLCX7JnWRu9aG+1gujYSxU1MwAJngQ1naaVRaTVOP12pSij/xC72CHD8B+lJpv1WervhwsTM5VBVStJT7zisAguxZPXlHBgI2qxRgDMkq31NW0Eq3oF9Be4KTFkualV7OLCq6vfAFvy/vtsPxudQFWBRbvYAAAAASUVORK5CYII=) no-repeat;
  width: 20px;
  height: 20px;
}
.post-remove-button {
  float: right;
  width: 25px;
  height: 25px;
  background: transparent;
  border: none;
}
.post .post-alone {
  padding-left: 0px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}